
/* #container {
    position: relative;
    border: 1px solid red;
    width: 400px;
    height: 400px;
    margin: 10vh auto;
} */

.gridRow {
    border: 1px solid black;
    height: 20px;
}

.cell:hover {
    background-color: rgb(38, 255, 0);
}
.cell {
    border: 1px solid gray;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin-right: 2px;
  }